<% include ../partials/header %>
<div class="container">
    <div class="row">
        <h1 class="text-center">ADD A NEW CAMPGROUND</h1>
        <div class="new-form">
            <form action="/campgrounds" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="Name of campground">
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="price" placeholder="Price per night" min="0.01" step="0.01">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="image" placeholder="Image url">
                </div>
                <div class="form-group">
                    <input type="file" name="localImage" accept="image/*">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="description" placeholder="Add a description of the place">
                </div>
                <div class="form-group">
                    <label for="location">Location</label>
                    <input class="form-control" type="text" name="location" id="location" placeholder="Yosemite National Park, CA">
                </div>
                <div class="form-group new-form-submit">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/campgrounds/new/random" class="btn btn-lg btn-success btn-block">Generate Random Data</a>
            <br>
            <p class="warning-text">*Note: Random Generated Campgrounds are always changing their image.</p>
            <p class="warning-text">*Note: All Random Generated Campgrounds have (unless manually changed) the same image displayed on the /campgrounds page</p>
            
            <a href="/campgrounds">Go back</a>
        </div>
    </div>
</div>

<script>
    function activatePlacesSearch() {
        var input = document.getElementById("location");
        var autocomplete = new google.maps.places.Autocomplete(input);
    }
</script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%=googleApiKey%>&libraries=places&callback=activatePlacesSearch"></script>

<% include ../partials/footer %>