.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.new-form {
    width: 30%;
    min-width: 300px;
    margin: 30px auto;
}

.inline-form {
    display: inline-block;
}

.inlineBlockPositionedElem {
    display: inline-block;
    position: absolute;
    top: 36px;
    right: 25px;
}

.absoluteTopRight {
    position: absolute;
    top: 27px;
    right: 20px;
}

.posRelative {
    position: relative;
}

.inlineBlock {
    display: inline-block;
}

.hoverOptions {
    display: inline-block;
    opacity: 0;
    margin-left: 10px;
}

.paddingComment {
    padding-top: 5px;
}

.paddingBox {
    padding: 20px;
}

.leftRightMargin {
    margin-left: 40px;
    margin-right: 40px;
}

.userColor {
    color: #1153a3;
}

.userCommentColor {
    background-color: #dee6ef;
    border-radius: 3px;
    padding-top: 5px;
}

.commentBox {
    border-top: 1px solid #eef;
    border-left: 1px solid #eef;
    border-right: 1px solid #eef;
    border-radius: 6px;
}

.commentHover:hover .hoverOptions {
    opacity: 1;
    transition: 0.2s;
}

.warning-text {
    color: #f78800;
}

#campThumbnail:hover .hoverOptions {
    opacity: 1;
    transition: 0.2s;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}