.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.new-form {
    width: 30%;
    min-width: 300px;
    margin: 30px auto;
}

.paddingLR {
    padding-left: 15px;
    padding-right: 15px;
}

textarea {
    resize: vertical;
}

.text-xs-center {
        text-align: center;
    }

.g-recaptcha {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
}

.inline-form {
    display: inline-block;
}

.inlineBlockPositionedElem {
    display: inline-block;
    position: absolute;
    top: 36px;
    right: 25px;
}

.absoluteTopRight {
    position: absolute;
    top: 27px;
    right: 20px;
}

.posRelative {
    position: relative;
}

.inlineBlock {
    display: inline-block;
}

.hoverOptions {
    display: inline-block;
    opacity: 0;
    margin-left: 10px;
}

.paddingComment {
    padding-top: 5px;
    margin: 1px -7px;
    border-radius: 3px;
    background-color: #eee;
    background: linear-gradient(to bottom, #f1f1f1, #ececec);
}

.paddingBox {
    padding: 20px;
}

.leftRightMargin {
    margin-left: 40px;
    margin-right: 40px;
}

.linkColor {
    color: #2772c6;
}

.userColor {
    color: #1153a3;
}

.userCommentColor {
    background-color: #dee6ef;
    border-radius: 3px;
    padding-top: 5px;
    margin: 1px -7px;
    background: linear-gradient(to bottom, #e3ebf4, #dae3ed);
}

.commentBox {
    border-top: 1px solid #eef;
    border-left: 1px solid #eef;
    border-right: 1px solid #eef;
    border-radius: 6px;
    padding-top: 10px;
}

.commentBox:last-child {
    border-bottom: 1px solid #eef;
}

.commentHover:hover .hoverOptions {
    opacity: 1;
    transition: 0.2s;
}

.warning-text {
    color: #f78800;
}

.custom-buttom {
    border-color: #f78800;
    color: #f78800;
}

.titleColor {
    color: #444;
}

.createdAtColor {
    color: #5a5a5a;
}

.preventLinkColor, .preventLinkColor:hover {
    color: black;
}

.preventLinkColor:hover .commentBox {
    background: linear-gradient(to bottom, #eaf2ff, #e5eefc);
}

.caption {
    padding: 15px !important;
}

.jumbotron {
    background: linear-gradient(to bottom, #f4f5f7, #e3e5ea);
}

#campThumbnail:hover .hoverOptions {
    opacity: 1;
    transition: 0.2s;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}